<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/favicon.ico" alt="" width="22" height="24" class="d-inline-block align-text-top">
            Daily Trends
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button
                    id="nav-button"
                    type="button"
                    class="btn btn-outline-dark"
                    routerLink=""
                >
                    TODAY
                </button>
            </li>
            <li class="nav-item">
                <button
                    id="nav-button"
                    type="button"
                    class="btn btn-outline-dark"
                    routerLink="feeds"
                >
                    ALL
                </button>
            </li>
            <li class="nav-item">
                <button
                    id="nav-button"
                    type="button"
                    class="btn btn-outline-dark"
                    routerLink="add"
                >
                    ADD
                </button>

            </li>
          </ul>
    </div>
</nav>
